"*":
  Zen:
    minimap: true
    softWrap: true
    typewriter: true
    width: 140
  "atom-beautify":
    general:
      _analyticsUserId: "9d0f0305-1145-49a3-b41b-0146beea1dd3"
  "autocomplete-bibtex":
    bibtex: [
      "/Users/brian/dev/JLS-Manuscript-Rebecca-Study/Drafts/bibliography.bib"
    ]
  "autocomplete-plus": {}
  "autocomplete-python":
    useKite: false
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "latexer"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "limited"
  editor:
    fontFamily: "Fira Code"
    fontSize: 15
    invisibles: {}
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "ide-python": {}
  latex: {}
  "make-runner": {}
  "markdown-table-formatter": {}
  minimap:
    plugins:
      "highlight-selected": true
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
